body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

button{
    cursor: pointer;
}

/*GLANCE HEADER*/

header {
    justify-content: space-between;
    width: 100%;
    align-content: stretch;
    position: sticky;
    top: 0;
    background: #EEEEEE;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 10px 10px;
    text-decoration: none;
    height: 15vh;
}

/* Footer Styles */

footer {
    margin: 0;
    width: 100%;
    height: 5%;
}

footer a {
    text-decoration: none;
    font-size: 20px;
}

header, .header-content, .header-logo, .img-frame, .patient-glance, footer {
    display: flex;
}

.header-logo {
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
}

.header-logo img{
    width: 100%;  
    padding-right: 5em;
}

.img-frame {
    justify-content: center;
    margin: 0 0 0 15px; 
}

.patient-photo {
    position: relative;
    width: 8em;
    height: auto;
    align-self: center;
}

.patient-glance {
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 3em;
}

.patient-glance-content {
    font-weight: normal;
    font-size: 1.25em;
    text-decoration:none;
}
.patient-glance-content_allergies{
    color: red;
    font-size: 1.25em;
}

.patient-glance-content span {
    font-weight: bold;
}

/*CATEGORY CONTAINER*/

main {
    display: flex;
    align-items: stretch;
    margin: 0;
    height: 100%;
    width: 100vw;
}

.form-overflow-container {
    width: 100vw;
    padding: 1em;
}

.category-container {
    width: 100%;
    height: 67vh;
}

.category-header {
    font-size: 3.5em;
    margin: 0 0 0 2.5%;
    font-weight: bold;
}

.category-container h1 {
    width: 50%;
}

.sub-category {
    margin: 5vh .5vw 1vh .5vw;
    display: flex;
}

.sub-category-head {
    font-size: 2em;
    margin: 0 .5% 0 2%;
    font-weight: bold;
    font-style: italic;
    display: flex;
}


.sub-category-glance {
    width: 45%;
    margin: 1.25%;
    display: flex;
    background: #EEEEEE;
    border-radius: 1em;
    padding: 1vh 1.25% 1vh 1.25%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.glance-date {
    flex: 2;
}

.glance-data {
    display: flex;
    justify-content: space-evenly;
    flex: 4;
    align-self: center;
}

.glance-data h4 {
    font-weight: normal;
    padding-bottom: 15%;
}

.glance-data2 h4 {
    width: 25%;
}

.patient_name {
    font-weight: normal;
}

.glance-data2 p {
    font-weight: normal;
}

.flex-container {
    flex: 1;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
}

.glance-button, .glance-delete {
    background: #143058;
    border-radius: .5em;
    height: 1.75em;
    width: 35%;
    color: white;
    font-size: 1.25em;
    text-align: center;
    text-decoration: none;
    flex: 1;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.glance-button:hover {
    filter: brightness(.75);
    cursor: pointer;
}

.glance-delete {
    background: #ffffff;
    color: #143058;
}

.glance-delete:hover {
    filter: brightness(.75);
    cursor: pointer;
}

/*Dashboard Styles */

nav ul {
    padding-top: 2.5vh;
}

nav li{
    display: inline;
    text-align: center;
    text-align: right;
    padding-left: 5em;
    padding-right: 2em;
}

nav li a{
    text-decoration: none;
    font-weight: bold;
    color:#183b6c;
    font-size: 3em;
}

nav li a:hover{
    color: slategray;
}

header img{
    padding: 1%;
    height: 10vh;
    width: auto;
    position: relative;
    left: 2em;
}

.logout {
    margin: 0;
    margin-top:2em;
}

.logout p{
    font-size: 20px;
    text-decoration:none;
    font-weight: bold;
    padding-right: 2%;
    padding-bottom: 1%;
    text-align:center;
}

.logout a {
    color: #143058;
    text-decoration: none;
    float: right;
    
}

.logout a:hover{
    color: red;
}

.hero p {
    font-size: 20px;
    text-decoration:none;
    font-weight: bold;
    padding-right: 2%;
    padding-top: 12%;
}

.hero p a {
    color: #EEEEEE;
    text-decoration: none;
    float: right;
}

.hero p a:hover {
    color: red;
}

.hero{
    background-color:#183b6c;
    color: white;
    padding-top: 25vh;
    height: 60vh;
}

.hero h1{
    margin: auto;
    font-size: 7em;
    text-align: center;
}

/*Patient Styles */

.glance-data2 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 80%;
}

.return-button {
    text-decoration: none;
}

.horizontal-group {
    width: 80%;
    margin: auto;
    margin-bottom: 1%;
}

.login-submit {
    margin: auto;
}

.flex-form {
    display: flex;
    flex-direction: column;
}

/* New button styles */ 

.new-button, .back-button{
    background: #143058;
    border-radius: 10px;
    height: 1.75em;
    color: white;
    font-size: 1.25em;
    border: none;
    width: 20%;
    float: right;
    margin-right: 2vw;
    margin-top: 2vh;
    margin-bottom: 0;
    text-align:center;
    text-decoration:none;
    padding-top: .5em;
}

.back-button {
    margin-top: 2vh;
}

.new-button:hover, .back-button:hover{
    filter: brightness(.75);
    cursor: pointer;
}

/* Laptop size changes */

@media (max-height: 800px) {
    
    .sub-category-glance {
        width: 95%;
        font-size: 1em;
    }
    
    .sub-category {
        display: block;
    }
    
}
